

header {
    border-bottom: 2px solid #d5d5d5;
    padding: 20px 20px;
    text-align: center;
}


footer {
    border-bottom: 2px solid #d4d4d4;
    padding: 20px 20px;
    text-align: center;
}

.content {
    min-height: 400px;
}